[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/aey-shop-nest/client-gateway.git
[submodule "products-api"]
	path = products-api
	url = https://github.com/aey-shop-nest/aey-nest-ms-products-api.git
[submodule "orders-api"]
	path = orders-api
	url = https://github.com/aey-shop-nest/aey-nest-ms-oders-api.git
